@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

.viewer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.viewer-img {
    grid-row: 2;
    max-height: 100%;
    justify-self: center;
}

.close-viewer {
    max-width: 1rem;
    justify-self: right;
    padding-right: 2rem;
    color: white;
    background-color: transparent;
    border: none;
}

.hide {
    display: none;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link,
a:visited {
    color: var(--accent-color);
}

h1,
h2 {
    font-family: Mooli;
}

main,
h2 {
    justify-self: center;
}

img {
    max-width: 100%;
    object-fit: cover;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
}

header * {
    margin: auto;
}

figure {
    max-width: 250px;
    max-height: 250px;
    padding: 5px 10px;
    box-shadow: 5px 5px 10px grey;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-button {
        display: none;
    }

    nav {
        grid-template-columns: repeat(5, 1fr);
    }

    header a {
        margin: 25px 50px;
    }

    .viewer {
        margin: 50px;
        grid-template-rows: 10% 80% 10%;
    }

    .viewer-img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }
}
